body {
    margin: 0;
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    margin: 0;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
}

/* main content section */

.main-content-section {
    margin: 0 100px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

.about-me {
    margin-bottom: 40px;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
}

.about-me-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* sidebar section */
.sidebar-section {
    background-color: #1e2939;
    width: 370px;
    margin-left: 15px;
    padding: 40px 0;
}

.sidebar-section img {
    max-width: 370px;
}

.contact-section,
.tech-skills-section,
.soft-skills-section {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

/* contacts section */
/* .contact-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin-right: 5px;
} */

.contact-section-link,
.my-project-link {
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* tech skills section */

.skills-list {
    list-style-type: none;
    padding: 0;
}

.tech-skills-item {
    color: #000;
}

.tech-skill-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* my project section */

.my-projects {
    margin-bottom: 50px;
}

.my-projects-list {
    padding: 0 0 0 17px;
}

.my-projects-item {
    color: #000;
    font-weight: bold;
}

.my-project-link {
    color: #000;
}

.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin-left: 10px;
}

.about-project {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.about-project-github {
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: 700;
    color: #fb6d3a;
}

.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}
/* My work expirience */

.my-work-experience-company {
    color: #fb6d3a;
}

.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.my-work-experience-time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #000;
    margin: 0 0 10px 0;
}

.devider {
    color: #000;
    font-weight: bold;
}

.my-work-experience-duties {
    padding: 0 0 0 18px;
}

.my-work-experience-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.my-work-experience-company-block {
    margin: 0 0 15px 0;
}

/* myeducation */
.my-education-curs {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    /* line-height: 17px; */
    color: #000;
}
